.container3 {
  /* border: 2px solid red; */
  display: flex;
  flex-wrap: wrap;
}

.container3 .card-container {
  /* border: 2px solid red; */
  height: auto;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-container div img {
  border-radius: 15px;
  width: 250px;
  height: 300px;
  margin-left: 30px;
  margin-bottom: 30px;
}
.card-container .div1 {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
}
.card-container .div2 {
  /* border: 2px solid red; */
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}
.card-container .div2 .img4 {
  height: 220px;
}

.container3 .header {
  /* border: 2px solid red; */
  height: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-bottom: 90px;
  padding-left: 70px;
  align-items: flex-start;
}
.header .sub-heading1 {
  padding-top: 100px;
  color: #26ab95;
  /* font-family: "Poppins", sans-serif; */
  font-weight: 500;
  font-size: 17px;
}
.header .heading2 {
  width: 100%;
  font-size: 40px;
  font-weight: 600;
  /* font-family: "Poppins", sans-serif; */
  color: #3f3a64;
  word-spacing: 10px;
  padding-top: 10px;
  text-align: start;
}
.header .pera2 {
  /* font-family: "Lato", sans-serif; */
  width: 100%;
  font-size: 18px;
  color: #535967;
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 40px;
  line-height: 30px;
  text-align: start;
}

@media screen and (max-width: 1139px) {
  .card-container div img {
    width: 165px;
  }
}

@media screen and (max-width: 820px) {
  .container3 .card-container {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card-container div img{
    width: 220px;
  }
  .container3 .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
  }
  .header .heading2 {
    width: 100%;
    font-size: 35px;
    font-weight: 600;
    word-spacing: 10px;
    padding-top: 10px;
    text-align: center;
  }
  .header .pera2 {
    width: 100%;
    font-size: 16px;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 30px;
    text-align: center;
  }
}
@media screen and (max-width: 499px) {
  .container3 .card-container {
    /* border: 2px solid red; */
    height: auto;
    width: 100%;
    display: block;
  }
  .card-container div img {
    /* border: 2px solid red; */
    border-radius: 15px;
    width: 80%;
    height: 210px;
    margin-bottom: 30px;
    margin-left: 0;
  }
  .card-container .div1 img{
    width: 80%;
  }
  
  .card-container .div1 {
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-container .div2 {
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
  }
  .card-container .div2 .img4 {
    height: 220px;
  }
  .container3 .header {
    width: 100%;
    height: auto;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  .header .sub-heading1 {
    padding-top: 50px;
    color: #26ab95;
    font-weight: 500;
    font-size: 15px;
    padding-top: 0px;
  }
  .header .heading2 {  
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
    word-spacing: 5px;
    padding-top: 10px;
    text-align: center;
  }
  .header .pera2 {
    width: 100%;
    font-size: 16px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 40px;
    text-align: center;
  }
  .inner-container .btn .btn2 {
    padding: 15px 20px;
  }
}

@media screen and (max-width: 390px) {
  .container3 .card-container {
    height: auto;
    width: 100%;
    display: block;
  }
  .card-container div img {
    border-radius: 15px;
    width: 80%;
    height: 210px;
    margin-bottom: 30px;
    margin-left: 0;
  }
  .card-container .div1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-container .div2 {
    margin-top: 0px;
    display: flex;
    width: 100%;
    align-items: center;
  }
  .card-container .div2 .img4 {
    height: 220px;
  }

  .container3 .header {
    width: 100%;
    height: auto;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  .header .sub-heading1 {
    padding-top: 0px;
    font-weight: 500;
    font-size: 15px;
  }
  .header .heading2 {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 600;
    word-spacing: 10px;
    padding-top: 10px;
    text-align: center;
  }
  .header .pera2 {
    width: 100%;
    font-size: 16px;
    color: #535967;
    padding-top: 10px;
    line-height: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    text-align: center;
  }
}

@media screen and (max-width: 280px) {
  .header .pera2 {
    padding-right: 0px;
  }
}
