.name{
    /* font-family: "Questrial", sans-serif; */
    font-size: 14px;
    line-height: 30px;
    margin-right: 15px;
    text-align: left;
    background-color: #fff;
    font-weight: 400;
    color: #222;
}