@media screen and (max-width: 820px) {
  .inner-container .btn .btn1 {
    margin-top: 15px;
  }
  .inner-container {
    margin-bottom: 10px;
    padding-bottom: 20px;
  }
  .inner-container .btn .btn1,
  .btn2 {
    padding: 15px 15px;
    font-size: 12px;
  }
}
@media screen and (max-width: 280px) {
  .inner-container .btn .btn1 {
    padding: 15px 15px;
    font-size: 10px;
  }
}